services:
  app:
    build:
      context: ./src/app
      dockerfile: Dockerfile.app
    image: adb_test-app
    container_name: app
    ports:
      - "3000:3000"
    depends_on:
      - rest
    stdin_open: true
    tty: true

  rest:
    build:
      context: ./src/rest
      dockerfile: Dockerfile.api
    image: adb_test-rest
    container_name: rest
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:5
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
